.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #FDB913;
  color: white;
  font-size: larger;

  h1 {
    margin: 0;
    font-size: 2.5rem;
  }

  .topbar {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}
