.app-sidenav {
  width: 250px;
  height: 100vh;
  background-color: #061634;
  padding: 1rem 0;
  overflow: auto;
  box-shadow: 2px;

  .icon {
    width: 24px;
    text-align: center;
    font-size: 18px;
  }

  nav ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;

      a {
        display: flex;
        align-items: center;
        gap: 12px;

        padding: 1rem 1.5rem;
        color: orange;
        font-size: larger;
        text-decoration: none;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: rgba(255, 255, 255, 0.15);
          color: #ffffff;
        }

        &:hover .icon {
          color: #ffffff;
        }

        &.active {
          background-color: rgba(255, 255, 255, 0.25);
          color: #ffffff;
        }

        &.active .icon {
          color: #FDB913;
        }
      }
    }
  }
}
