<div class="sidebar">

  <div class="sidebar-header">

    <div class="logo-box">
  <img src="/images/usglogo.jpg" alt="USG Logo">
</div>

    <div class="logo-text">
      <h2>SOMS</h2>
      <p>Student Org Management</p>
    </div>

  </div>

  <nav class="menu">

    <a routerLink="/home/dashboard"
       routerLinkActive="active"
       class="menu-item">
      <span class="icon">📊</span>
      Dashboard
    </a>

    <a routerLink="/home/events"
       routerLinkActive="active"
       class="menu-item">
      <span class="icon">📅</span>
      Events
    </a>

    <a routerLink="/home/attendance"
       routerLinkActive="active"
       class="menu-item">
      <span class="icon">☑️</span>
      Attendance
    </a>

    <a routerLink="/home/payments"
       routerLinkActive="active"
       class="menu-item">
      <span class="icon">💳</span>
      Payments
    </a>

    <a routerLink="/home/organization"
       routerLinkActive="active"
       class="menu-item">
      <span class="icon">🏢</span>
      Organization
    </a>

    <a routerLink="/home/admin-create-account"
       routerLinkActive="active"
       class="menu-item">
      <span class="icon">👤</span>
      Create Account
    </a>

  </nav>

</div>